@import "tailwindcss";

@theme {
  --color-dark-bg: oklch(0% 0 0 / 0.741);
  --breakpoint-xs: 480px;
}

html,
body {
  background-color: var(--color-dark-bg);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;

  min-height: 100vh;


}

.content-section {
  flex-grow: 1;
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: theme("colors.gray.900");
    border-radius: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: theme("colors.gray.700");
    border-radius: 5px;
  }
}

@layer components {
  .pop-out-anim {
    @apply transition-all duration-300 hover:scale-105 hover:shadow-xl;
  }
}

@keyframes glow {

  0%,
  100% {
    filter: drop-shadow(0 0 45px #000000);
  }

  33% {
    filter: drop-shadow(0 0 45px #00b7db71);
  }

  66% {
    filter: drop-shadow(0 0 45px #000000);
  }
}

.nav-bg-anim {
  background: linear-gradient(270deg, #000000, #00b8db, #000000);
  background-size: 120% 120%;
  animation: gradient-x 10s ease-in-out infinite,
    glow 6s ease-in-out infinite;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}